@charset "UTF-8";
#sub2 {
  width: 100%;
}
#sub2 .container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
#sub2 .container .gap {
  width: 100%;
  padding: 0 10px;
  margin: 0 0 95px 0;
}
#sub2 .container .gap .title {
  width: 100%;
  padding: 55px 0 24px 0;
  text-align: center;
}
#sub2 .container .gap .title h2 {
  width: 100%;
  display: inline-block;
  font-size: 34px;
  line-height: 140%;
  font-weight: 500;
  letter-spacing: -1.02px;
  color: #222;
}
#sub2 .container .gap .main-category {
  width: 100%;
  text-align: center;
  margin: 0 0 15px 0;
}
#sub2 .container .gap .main-category ul li {
  display: inline-block;
  padding: 0 2%;
  line-height: 30px;
}
#sub2 .container .gap .main-category ul li a {
  color: #222;
  font-size: 18px;
  font-weight: 300;
  vertical-align: top;
}
#sub2 .container .gap .content {
  width: 100%;
}
#sub2 .container .gap .content .content-title {
  width: 100%;
  margin: 0 0 35px 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
#sub2 .container .gap .content .content-title .category-box {
  display: flex;
  font-size: 12px;
  line-height: 38px;
  font-weight: 300;
  color: #222;
}
#sub2 .container .gap .content .content-title .category-box p a {
  vertical-align: top;
  color: #222;
}
#sub2 .container .gap .content .content-title .category-box i {
  color: #bababa;
  margin: 0 5px 0 6px;
}
#sub2 .container .gap .content .content-title .category-box .sub-category {
  position: relative;
}
#sub2 .container .gap .content .content-title .category-box .sub-category > a {
  display: inline-block;
  padding: 0 18px 0 0;
  position: relative;
}
#sub2 .container .gap .content .content-title .category-box .sub-category > a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  margin: -3px 0 0 0;
  border-left: 5px solid transparent;
  border-bottom: 5px solid #aaaaaa;
  transform: rotate(45deg);
}
#sub2 .container .gap .content .content-title .category-box .sub-category > a span {
  vertical-align: top;
  color: #222;
}
#sub2 .container .gap .content .content-title .category-box .sub-category div {
  position: absolute;
  top: 30px;
  left: -10px;
  z-index: 3;
}
#sub2 .container .gap .content .content-title .category-box .sub-category div::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 18px;
  border-style: solid;
  border-width: 0 10.4px 10.4px 0;
  border-color: transparent #fff transparent transparent;
  box-shadow: 1px -1px 0 0 #f1f1f1;
  transform: rotate(-45deg);
}
#sub2 .container .gap .content .content-title .category-box .sub-category div ul {
  min-width: 110px;
  background: #fff;
  border: 1px solid #f3f3f3;
  margin: 9px 0 0 0;
  padding: 15px 10px;
  box-shadow: 0 0 15px 0 rgba(4, 0, 0, 0.07);
}
#sub2 .container .gap .content .content-title .category-box .sub-category div ul li {
  line-height: 28px;
}
#sub2 .container .gap .content .content-title .category-box .sub-category div ul li a {
  color: #242424;
  font-size: 12px;
  font-weight: 300;
}
#sub2 .container .gap .content .content-title .category-box .sub-category div ul li a:hover {
  color: #747474;
}
#sub2 .container .gap .content .content-title > p {
  font-size: 12px;
  line-height: 38px;
  font-weight: 300;
  color: #222;
  transform: translateX(-35px);
}
#sub2 .container .gap .content .content-title > p strong {
  font-weight: 400;
  vertical-align: top;
}
#sub2 .container .gap .content .content-title .sort-by {
  position: relative;
}
#sub2 .container .gap .content .content-title .sort-by > a {
  display: inline-block;
  padding: 0 18px 0 0;
  position: relative;
}
#sub2 .container .gap .content .content-title .sort-by > a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  margin: -3px 0 0 0;
  border-left: 5px solid transparent;
  border-bottom: 5px solid #aaaaaa;
  transform: rotate(45deg);
}
#sub2 .container .gap .content .content-title .sort-by > a span {
  vertical-align: top;
  color: #222;
  font-size: 12px;
  line-height: 38px;
  font-weight: 300;
}
#sub2 .container .gap .content .content-title .sort-by div {
  position: absolute;
  top: 30px;
  right: -10px;
  z-index: 3;
  text-align: right;
}
#sub2 .container .gap .content .content-title .sort-by div::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 16px;
  border-style: solid;
  border-width: 0 10.4px 10.4px 0;
  border-color: transparent #fff transparent transparent;
  box-shadow: 1px -1px 0 0 #f1f1f1;
  transform: rotate(-45deg);
}
#sub2 .container .gap .content .content-title .sort-by div ul {
  min-width: 110px;
  background: #fff;
  border: 1px solid #f3f3f3;
  margin: 9px 0 0 0;
  padding: 15px 10px;
  box-shadow: 0 0 15px 0 rgba(4, 0, 0, 0.07);
}
#sub2 .container .gap .content .content-title .sort-by div ul li {
  line-height: 28px;
  padding: 0 12px 0 0;
}
#sub2 .container .gap .content .content-title .sort-by div ul li a {
  color: #242424;
  font-size: 12px;
  font-weight: 300;
}
#sub2 .container .gap .content .content-title .sort-by div ul li a:hover {
  color: #747474;
}
#sub2 .container .gap .content .content-list {
  width: 100%;
}
#sub2 .container .gap .content .content-list ul {
  width: 100%;
}
#sub2 .container .gap .content .content-list ul li {
  display: inline-block;
  width: 325px;
  margin: 0 10px 4% 10px;
  text-align: left;
  vertical-align: top;
}
#sub2 .container .gap .content .content-list ul li:nth-of-type(1) a figure::after, #sub2 .container .gap .content .content-list ul li:nth-of-type(3) a figure::after, #sub2 .container .gap .content .content-list ul li:nth-of-type(4) a figure::after, #sub2 .container .gap .content .content-list ul li:nth-of-type(5) a figure::after, #sub2 .container .gap .content .content-list ul li:nth-of-type(6) a figure::after, #sub2 .container .gap .content .content-list ul li:nth-of-type(12) a figure::after, #sub2 .container .gap .content .content-list ul li:nth-of-type(13) a figure::after, #sub2 .container .gap .content .content-list ul li:nth-of-type(15) a figure::after, #sub2 .container .gap .content .content-list ul li:nth-of-type(24) a figure::after, #sub2 .container .gap .content .content-list ul li:nth-of-type(25) a figure::after, #sub2 .container .gap .content .content-list ul li:nth-of-type(28) a figure::after, #sub2 .container .gap .content .content-list ul li:nth-of-type(41) a figure::after, #sub2 .container .gap .content .content-list ul li:nth-of-type(42) a figure::after, #sub2 .container .gap .content .content-list ul li:nth-of-type(44) a figure::after, #sub2 .container .gap .content .content-list ul li:nth-of-type(61) a figure::after, #sub2 .container .gap .content .content-list ul li:nth-of-type(98) a figure::after {
  background-image: url(../../../../../public/img/image_custom_316252116938702.png);
}
#sub2 .container .gap .content .content-list ul li:nth-of-type(2) a figure::after {
  background-image: url(../../../../../public/img/image_custom_816842903765087.png);
}
#sub2 .container .gap .content .content-list ul li:hover .cart-img {
  bottom: 15px;
  opacity: 1;
}
#sub2 .container .gap .content .content-list ul li a {
  position: relative;
}
#sub2 .container .gap .content .content-list ul li a figure {
  display: block;
  position: relative;
}
#sub2 .container .gap .content .content-list ul li a figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url() no-repeat 100% 0;
}
#sub2 .container .gap .content .content-list ul li a figure img {
  width: auto;
}
#sub2 .container .gap .content .content-list ul li a .cart-img {
  position: absolute;
  bottom: -37px;
  left: 45%;
  width: 37px;
  height: 37px;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
#sub2 .container .gap .content .content-list ul li a .cart-img img {
  width: 26px;
  height: 26px;
  transform: translate(5px, 6px);
}
#sub2 .container .gap .content .content-list ul li div h3 {
  margin: 33px 0 10px 0;
}
#sub2 .container .gap .content .content-list ul li div h3 a {
  color: #222222;
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
}
#sub2 .container .gap .content .content-list ul li div .rate-price {
  color: #ff5da4;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.2px;
  font-family: "Rubik";
  line-height: 18px;
}
#sub2 .container .gap .content .content-list ul li div .rate-price em {
  font-size: 15px;
  font-family: "Noto Sans KR";
  letter-spacing: 0.4px;
}
#sub2 .container .gap .content .content-list ul li div .sale-price {
  color: #222;
  letter-spacing: 0.2px;
  font-size: 20px;
  line-height: 18px;
  font-weight: 700;
  font-family: "Rubik";
}
#sub2 .container .gap .content .content-list ul li div .sale-price em {
  font-size: 13px;
  font-family: "Noto Sans KR";
  letter-spacing: 0.4px;
}
#sub2 .container .gap .content .content-list ul li div .price {
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2px;
  font-family: "Rubik";
  line-height: 18px;
  position: relative;
  padding: 0 0 0 12px;
}
#sub2 .container .gap .content .content-list ul li div .price::after {
  content: "â† ";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 8px;
}
#sub2 .container .gap .content .content-list ul li div .price em {
  font-size: 13px;
}
#sub2 .container .gap .content .content-list ul li div strong {
  display: block;
  color: #208e38;
  font-size: 14px;
  margin: 8px 0 0 0;
  font-weight: 300;
  line-height: 140%;
}
#sub2 .container .gap .content .content-list ul li div strong em {
  font-weight: 700;
  letter-spacing: -0.14px;
}
#sub2 .container .gap .content .content-list ul li div b {
  display: block;
  margin: 0 0 5px 0;
  font-size: 12px;
  line-height: 140%;
  color: #898989;
}
#sub2 .container .gap .content .content-list ul li div > em {
  display: inline-block;
  font-size: 11px;
  line-height: 18px;
  padding: 0 5px;
  margin: 5px 3px 9px 0;
  background: #f5f6f9;
  color: #191a1d;
  font-weight: 300;
}
#sub2 .container .gap .pagenation {
  margin: 30px 0;
  text-align: center;
}
#sub2 .container .gap .pagenation a {
  margin: 0 7px;
}
#sub2 .container .gap .pagenation a img {
  width: auto;
}